<div class="menu-wrapper">
  <div class="menu">
    <div class="menu__row">
      <button mat-stroked-button color="accent" class="menu__item" routerLink='/private/catalogue'>Документы</button>
      <button mat-stroked-button color="accent" class="menu__item" routerLink='/private/graphics'>Графики</button>
    </div>
    <div class="menu__row">
      <button mat-stroked-button color="accent" class="menu__item" (click)='onClickAppInfo()'>О приложении</button>
      <button mat-stroked-button color="accent" class="menu__item" (click)='onClickSignOut()'>Выйти</button>
    </div>
  </div>
</div>