<div class="menu-wrapper">
  <div class="menu">
    <div class="menu__row">
      <button mat-stroked-button color="accent" class="menu__item" routerLink='/private/bids'>Заявки</button>
      <button mat-stroked-button color="accent" class="menu__item">Клиенты</button>
    </div>
    <div class="menu__row">
      <button mat-stroked-button color="accent" class="menu__item">Договора</button>
      <button mat-stroked-button color="accent" class="menu__item" (click)='onClickSignOut()'>Выйти</button>
    </div>
  </div>
</div>