<div class="bid-wrapper">

  <mat-card class="bid">
    <mat-card-header>
      <mat-card-title>{{bid.product}}</mat-card-title>
      <mat-card-subtitle>{{client.name}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="bid-content">
      <div class="bid-content__row key-value-row">
        <div class="key-value-row__key">
          Общая стоимость:
        </div>
        <div class="key-value-row__value">
          {{bid.totalCost/100|number:'1.2-2'}} &#8381;
        </div>
      </div>
      <div class="bid-content__row key-value-row">
        <div class="key-value-row__key">
          Первый взнос:
        </div>
        <div class="key-value-row__value">
          {{bid.firstPaymentCost/100|number:'1.2-2'}} &#8381;
        </div>
      </div>
      <div class="bid-content__row key-value-row">
        <div class="key-value-row__key">
          Срок:
        </div>
        <div class="key-value-row__value">
          {{bid.termInMonths}} месяцев
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button color="warn" (click)='rejectOnClick()'>Отклонить</button>
      <button mat-button color="primary" (click)='calculateOnClick()'>Расчет</button>
    </mat-card-actions>
  </mat-card>
</div>