<div class="bid-calculation-wrapper">

  <mat-card class="bid-calculation">
    <mat-card-header>
      <mat-card-title>{{bid.product}}</mat-card-title>
      <mat-card-subtitle>{{client.name}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="bid-calculation-content">
      <form [formGroup]="calculationForm">
        <div class="bid-calculation-content__row key-value-row">
          <div class="key-value-row__key">
            Срок полезного использования:
          </div>
          <div class="key-value-row__value">
            <mat-form-field>
              <input matInput formControlName="termOfUseInMonths" placeholder="В месяцах" type="number">
            </mat-form-field>
          </div>
        </div>
        <div class="bid-calculation-content__row key-value-row">
          <div class="key-value-row__key">
            Ставка:
          </div>
          <div class="key-value-row__value">
            <mat-form-field>
              <input matInput formControlName="rate" placeholder="В процентах" type="number" max="100" min="0">
            </mat-form-field>
          </div>
        </div>
        <div class="bid-calculation-content__row key-value-row">
          <div class="key-value-row__key">
            Ориентировочные затраты:
          </div>
          <div class="key-value-row__value">
            <mat-form-field>
              <input matInput formControlName="estimatedCost" placeholder="В рублях" type="number">
            </mat-form-field>
          </div>
        </div>
      </form>
      <div class="bid-calculation-content__row key-value-row">
        <div class="key-value-row__key">
          Срок:
        </div>
        <div class="key-value-row__value">
          {{calculation.termInMonths}} месяцев
        </div>
      </div>
      <div class="bid-calculation-content__row key-value-row">
        <div class="key-value-row__key">
          Общая стоимость:
        </div>
        <div class="key-value-row__value">
          {{calculation.totalCost/100|number:'1.2-2'}} &#8381;
        </div>
      </div>
      <div class="bid-calculation-content__row key-value-row">
        <div class="key-value-row__key">
          Первый взнос:
        </div>
        <div class="key-value-row__value">
          {{calculation.firstPaymentCost/100|number:'1.2-2'}} &#8381;
        </div>
      </div>
      <div class="bid-calculation-content__row key-value-row">
        <div class="key-value-row__key">
          Кредитная стоимость:
        </div>
        <div class="key-value-row__value">
          {{calculation.creditCost/100|number:'1.2-2'}} &#8381;
        </div>
      </div>
      <div class="bid-calculation-content__row key-value-row">
        <div class="key-value-row__key">
          Норма амортизации
        </div>
        <div class="key-value-row__value">
          {{calculation.depreciationRate*100}} %
        </div>
      </div>
      <div class="bid-calculation-content__row key-value-row">
        <div class="key-value-row__key">
          Амортизация
        </div>
        <div class="key-value-row__value">
          {{calculation.depreciation/100|number:'1.2-2'}} &#8381;
        </div>
      </div>
      <div class="bid-calculation-content__row key-value-row">
        <div class="key-value-row__key">
          Плата за использование заемных стредств
        </div>
        <div class="key-value-row__value">
          {{calculation.feeForFunds/100|number:'1.2-2'}} &#8381;
        </div>
      </div>
      <div class="bid-calculation-content__row key-value-row">
        <div class="key-value-row__key">
          Комиссия
        </div>
        <div class="key-value-row__value">
          {{calculation.commission/100|number:'1.2-2'}} &#8381;
        </div>
      </div>
      <div class="bid-calculation-content__row key-value-row">
        <div class="key-value-row__key">
          НДС
        </div>
        <div class="key-value-row__value">
          {{calculation.VAT/100|number:'1.2-2'}} &#8381;
        </div>
      </div>
      <div class="bid-calculation-content__row key-value-row">
        <div class="key-value-row__key">
          Лизинговый платеж
        </div>
        <div class="key-value-row__value">
          {{calculation.totalLeasePayment/100|number:'1.2-2'}} &#8381;
        </div>
      </div>
      <div class="bid-calculation-content__row key-value-row">
        <div class="key-value-row__key">
          Ежемесячный платеж
        </div>
        <div class="key-value-row__value">
          {{calculation.monthlyLeasePayment/100|number:'1.2-2'}} &#8381;
        </div>
      </div>
      <div class="bid-calculation-content__row key-value-row">
        <div class="key-value-row__key">
          Рентабельность
        </div>
        <div class="key-value-row__value">
          {{calculation.profitability}}
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button color="warn" (click)='rejectOnClick()'>Отклонить</button>
      <button mat-button color="primary">Подготовить договор</button>
    </mat-card-actions>
  </mat-card>
</div>