<div class="agreements-list-wrapper">
  <div class="agreements-list">
    <h3 *ngIf='agreements.length===0'>Договора не найдены</h3>
    <mat-card class="agreements-list__item agreement-card" *ngFor="let agreement of agreements">
      <div class="mat-body agreement-card__text">
        {{agreement.id}}
      </div>
      <div class="mat-body agreement-card__text">
        {{clients[agreement.clientId].name}}
      </div>
      <div class="mat-body agreement-card__text">
        {{agreement.date}}
      </div>
      <button mat-button color="primary" class="agreement-card__text"
        (click)="saveAgreementOnClick(agreement)">Скачать</button>
    </mat-card>

  </div>
</div>